/* _variables.scss */
$wrapper-bg-color: gray;
$bg-color: rgb(251, 255, 252);
$bg-color-transparent: rgb(251, 255, 252, 0.8);
$orange:  rgb(201, 65, 15);
$main-font: "Myriad Pro";

$maxScreenWidth: 1024;
$maxTabletWidth: 767;
$maxMobileWidth: 320;

@mixin adapive-font-size($max, $min) {
    @media (max-width: ($maxScreenWidth + px)) {
        $widthGap: $maxScreenWidth - $maxMobileWidth;
        $a: (-1/$widthGap*$min) + (1/$widthGap*$max);
        $b: ($maxScreenWidth/$widthGap*$min) + ($maxMobileWidth/-$widthGap*$max);
        font-size: calc(100vw * #{$a} + #{$b + px});
    } 
    @media (min-width: ($maxScreenWidth + px)) {
        font-size: $max + px;
    }
}