/* _flex.scss */
.wrapper {
    display: flex;
    min-height: 100vh;
    padding: 1rem;
    font-size: 2.4rem;
    &__container { 
        max-width: $maxScreenWidth + px;
        width: 100%;
        margin: 0 auto;
        padding: 0.5rem;
    }
}

