/* _header.scss */
.header {
    display: flex;
    color: black;
    position: sticky;
    z-index: 100;
}

.nav {
    width: 100%;
    &__list {
        display: flex;
        justify-content: center;
        gap: min(3vw, 10rem);
    }
    &__url-container {
        display: flex;
        min-height: 6rem;
     }
    &__url {
        color: $aside-bg-color;
        transition: color 0.5s ease-out;
        &:hover, :focus, :active {
            color: $orange;
            transition: color 0.5s ease-out;
        }
    }
}

// .contacts {
//     display: flex;
//     flex-direction: column;
//     font-size: 1.8rem;
//     &__list {
//         line-height: 4.5rem;
//     }
//     &__link {
//         display: flex;
//         width: 100%;
//     }
//     &__logo {
//         position: relative;
//         &:before {
//             content: "";
//             position: absolute;
//             top: 15%;
//             left: -2.6rem;
//             width: 3.5rem;
//             height: 3.5rem;
//             background-size: contain;
//             background-repeat: no-repeat;
//             background-size: 32px 32px;
//             filter: invert(1);
//         }
//     }
// }