/* _sidebar.scss */

.aside {
    display: flex;
    flex-direction: column;
    background-color: $aside-bg-color;
    color: rgb(243, 236, 236);
    min-width: 200px;
    width: 35%;
    @include _767 {
        width: 100%;
    }
    & .photo {
        max-width: 100%;
        min-width: 100%;
        @include _767 {
            object-fit: cover;
        }
    }
    &__item {
        position: relative;
    }
    &__pdf {
        position: absolute;
        width: 20%;
        bottom: 10px;
        right: 2px;
        transition: 0.1s;
        filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7444%) hue-rotate(320deg) brightness(103%) contrast(100%);
        &:hover {
            cursor: pointer;
            transform: scale(1.1);
            transition: 0.1s;
            filter: brightness(0) saturate(100%) invert(37%) sepia(65%) saturate(718%) hue-rotate(333deg) brightness(193%) contrast(93%);
        }
    } 
}

.cv-list {
    display: flex;
    flex-direction: column;
    font-size: 1.8rem;
    text-shadow: rgb(44, 43, 43, 0.5) 2px 2px 4px;
    &__name {
        font-size: 2.5rem;
        text-transform: uppercase;
        padding: 1% 0 0 5%;
        line-height: 2.5;
        backdrop-filter: brightness(80%);
        @include _767 {
            line-height: 2;
        }
    }
    &__list {
        padding-top: 3%;
        line-height: 4.2rem;
        margin-bottom: 3%;
    }
    &__link {
        display: flex;
        width: 100%;
        transition: 0.1s ease-out;
        &:hover, :focus {
            transform: scale(1.015);
            transition: 0.1s ease-out;
            backdrop-filter: brightness(80%);
            width: 99%;
        }
        @include _767 {
            font-size: 2.2rem;
        }
    }
    &__logo {
        display: flex;
        width: 100%;
        position: relative;
        padding-left: 5rem;
        @include _1024 {
            font-size: 1.5rem;
        }
        @include _767 {
            padding-left: 6.5rem;
            font-size: 2rem;
        }
        &:before {
            content: "";
            position: absolute;
            top: 0.8rem;
            left: 1.25rem;
            width: 3.5rem;
            height: 3.5rem;
            background-size: contain;
            background-repeat: no-repeat;
            background-size: 2.5rem 2.5rem;
            filter: invert(1);
            @include _767 {
                left: 2.25rem;
            }
        }
        &_phone {
            &:before {background-image: url("../assets/images/svg/smartphone.svg")}
        }
        &_linkedin {
            &:before {background-image: url("../assets/images/svg/linkedin.svg")}
        }
        &_github {
            &:before {background-image: url("../assets/images/svg/github.svg")}
        }
        &_codewars {
            &:before {background-image: url("../assets/images/svg/codewars.svg")}
        }
        &_telegram {
            &:before {background-image: url("../assets/images/svg/telegram.svg")}
        }
        &_email {
            &:before {background-image: url("../assets/images/svg/email.svg")}
        }
    }
    &__skill {
        display: flex;
        width: 100%;
        margin: 0 6%;
        line-height: 3.5rem;
        border-top: 0.1px solid;
        border-image: linear-gradient(to right, rgba(245, 241, 241, 0.2) 20%, rgba(245, 241, 241, 0.05) 80%, transparent 99%) 0.5;
    }
    &__item:hover {
        cursor: context-menu;
    }
    &__item:nth-child(1) &__skill {
        border-top: none;
    }
}

@include _767 {
    .cv-list_moblie {
        display: flex;
        min-width: 100%;
        align-items: center;
        & h2 {
            width: 100%;
        }
        & .cv-list__list {
            display: flex;
            flex-wrap: wrap;
            width: 98%;
            & .cv-list__item {
                width: 50%;
                & .cv-list__skill {
                    font-size: 1.8rem;
                }
                & .cv-list__skill_no-top-border {
                    border-top: 0.1px solid;
                    border-image: linear-gradient(to right, rgba(245, 241, 241, 0.2) 20%, rgba(245, 241, 241, 0.05) 80%, transparent 99%) 0.5;
                }
            }
        }
    }
}