/* _reset.scss */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1.5;
  font-size: 8px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* _variables.scss */ /* _typography.scss */
@font-face {
  font-family: "Myriad Pro";
  src: url(../../assets/fonts/MyriadPro-Regular.woff);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Myriad Pro";
  src: url(../../assets/fonts/MyriadPro-Bold.woff);
  font-weight: bold;
  font-style: normal;
}
html {
  scroll-behavior: smooth;
  font-family: "Myriad Pro";
  color: black;
}

.gray {
  background-color: rgba(102, 90, 90, 0.548);
}

.light {
  background-color: rgb(251, 255, 252);
}

.shadow {
  box-shadow: 0px 0px calc(100vw/1024 * 20) calc(100vw/1024 * 2) rgba(62, 66, 68, 0.7);
}

.stiky {
  position: fixed;
  top: 0;
  width: 100%;
}

.transpearent {
  background-color: rgba(251, 255, 252, 0.95);
}

/* _animaions.scss */
.underline {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.underline:after {
  content: "";
  position: absolute;
  z-index: 1;
  right: 0;
  width: 0;
  bottom: 0.9rem;
  background: rgb(192, 81, 41);
  height: 3px;
  transition-property: width;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}
.underline:hover:after, .underline:focus:after, .underline:active:after {
  left: 0;
  right: auto;
  width: 100%;
}

/* _flex.scss */
.wrapper {
  display: flex;
  min-height: 100vh;
  padding: 0 1.5rem;
  font-size: 2.4rem;
}
.wrapper__container {
  display: flex;
  flex-direction: column;
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  flex: 1 1 100%;
  gap: 3rem;
}

/* _header.scss */
.header {
  display: flex;
  color: black;
  position: sticky;
  z-index: 100;
}
.header__nav {
  top: 0;
}

.nav {
  width: 100%;
}
.nav__list {
  display: flex;
  justify-content: center;
  gap: min(3vw, 10rem);
}
.nav__url-container {
  display: flex;
  min-height: 6rem;
}
.nav__url {
  color: rgba(49, 54, 68, 0.95);
  transition: color 0.5s ease-out;
}
.nav__url:hover, .nav__url :focus, .nav__url :active {
  color: rgb(192, 81, 41);
  transition: color 0.5s ease-out;
}

.contacts {
  display: flex;
  flex-direction: column;
  font-size: 1.8rem;
}
.contacts__list {
  line-height: 4.5rem;
}
.contacts__link {
  display: flex;
  width: 100%;
}
.contacts__logo {
  position: relative;
}
.contacts__logo:before {
  content: "";
  position: absolute;
  top: 15%;
  left: -2.6rem;
  width: 3.5rem;
  height: 3.5rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 32px 32px;
  filter: invert(1);
}

.phone:before {
  background-image: url("../../assets/images/svg/smartphone.svg");
}

.linkedin:before {
  background-image: url("../../assets/images/svg/linkedin.svg");
}

.github:before {
  background-image: url("../../assets/images/svg/github.svg");
}

.aside {
  display: flex;
  flex-direction: column;
  background-color: rgba(49, 54, 68, 0.95);
  color: rgb(243, 236, 236);
  min-width: 200px;
  width: 35%;
  min-width: 200px;
}
.aside .photo {
  max-width: 100%;
}

.cv-list {
  display: flex;
  flex-direction: column;
  font-size: 1.8rem;
  text-shadow: rgba(44, 43, 43, 0.5) 2px 2px 4px;
}
.cv-list__name {
  font-size: 2.5rem;
  text-transform: uppercase;
  padding: 1% 0 0 5%;
  line-height: 2.5;
  backdrop-filter: brightness(80%);
}
.cv-list__list {
  padding-top: 3%;
  line-height: 4.2rem;
  margin-bottom: 3%;
}
.cv-list__link {
  display: flex;
  width: 100%;
}
.cv-list__link:hover, .cv-list__link :focus {
  transform: scale(1.015);
  transition: 0.3s ease-out;
  backdrop-filter: brightness(80%);
  width: 99%;
}
.cv-list__logo {
  display: flex;
  width: 100%;
  position: relative;
  padding-left: 20%;
}
.cv-list__logo:before {
  content: "";
  position: absolute;
  top: 12%;
  left: 5%;
  width: 3.5rem;
  height: 3.5rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 25px 25px;
  filter: invert(1);
}
.cv-list__logo_phone:before {
  background-image: url("../../assets/images/svg/smartphone.svg");
}
.cv-list__logo_linkedin:before {
  background-image: url("../../assets/images/svg/linkedin.svg");
}
.cv-list__logo_github:before {
  background-image: url("../../assets/images/svg/github.svg");
}
.cv-list__logo_codewars:before {
  background-image: url("../../assets/images/svg/codewars.svg");
}
.cv-list__logo_telegram:before {
  background-image: url("../../assets/images/svg/telegram.svg");
}
.cv-list__logo_email:before {
  background-image: url("../../assets/images/svg/email.svg");
}
.cv-list__skill {
  display: flex;
  width: 100%;
  margin: 0 6%;
  border-top: 0.1px solid;
  border-image: linear-gradient(to right, rgba(245, 241, 241, 0.2) 20%, rgba(245, 241, 241, 0.05) 80%, transparent 99%) 0.5;
}
.cv-list__skill_no-top-border {
  border-top: none;
}

.main {
  padding: 2rem;
  flex: 1 1 100%;
}
.main .my-name {
  font-weight: bold;
  text-transform: uppercase;
  color: rgba(49, 54, 68, 0.95);
  margin-bottom: 4.5rem;
}
.main .my-name h1 {
  line-height: 7rem;
  font-size: 4.5rem;
}
.main .my-name h3 {
  font-size: 3rem;
  color: rgb(192, 81, 41);
}

.title {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.title__name {
  font-size: 2.5rem;
  text-transform: uppercase;
}
.title__line {
  height: 100%;
  position: relative;
  flex: 1 1 100%;
  border-bottom: 1px rgba(49, 54, 68, 0.95) solid;
  top: 0;
  margin: 0 2rem;
}
.title__logo {
  width: 6rem;
  height: 4rem;
  border: 1px rgba(49, 54, 68, 0.95) solid;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px;
  margin-right: 1rem;
  background-color: rgba(206, 201, 187, 0.55);
  filter: invert(1);
}
.title__logo_education {
  background-image: url("../../assets/images/svg/education.svg");
}
.title__logo_experience {
  background-image: url("../../assets/images/svg/education.svg");
}

.description {
  display: flex;
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}
.description__period {
  padding-left: 1.5rem;
  width: 20%;
  height: 100%;
  min-width: 18rem;
  font-style: oblique;
}
.description__item {
  width: 80%;
  position: relative;
  display: flex;
  flex-direction: column;
}
.description__item_RSS-certificate {
  display: block;
  position: absolute;
  text-align: center;
  font-size: 1rem;
  left: 29.5rem;
  top: 0;
  background-image: url(../../assets/images/svg/logo-rs.svg);
  background-repeat: no-repeat;
  width: 7rem;
  height: 10rem;
  background-size: 7rem;
  background-position: center;
}
.description__header {
  font-weight: bold;
}

/*# sourceMappingURL=style.css.map */
